@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    @apply flex flex-wrap py-8 items-center px-4
}
.product .btn{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
    transform: translateY(0);
    opacity: 1;
}